*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bk-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio:16/9){
    .bk-clip{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:16/9){
    .bk-clip{
        width: auto;
        height: 100%;
    }
}

.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    border-radius: 12px;
    padding: 10px 20px 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);   
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
}

.theme-toggle{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggle.active{
    color: black;
}

.theme-toggle.active::before{
    background-color: rgb(245, 245, 245);
}

.theme-toggle::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    background-color: black;
    z-index: -1;
}

#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 25px;
    margin-bottom: 20px;
    overflow-x: hidden;
}

#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    
}
 .buttons button{
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color:coral;
    cursor: pointer;
    font-size: 20px;
    transition: 200ms ease-out;    
 }

 .buttons button:hover{
    transform: scale(1.05);
 }

 .btn-operator{
    color: yellow;
    font-size: large;
 }

 .btn-number{
    font-size: medium;
 }

 /* light theme */

 .calculator{
    background-color: white;
 }

 .calculator #display{
    color:black ;
 }
.calculator button#clear{
    background-color: rgba(255, 3, 74, 0.274);
    color: rgb(217, 32, 124);
}

.calculator button.btn-number{
    background-color: rgba(152, 211, 228, 0.413);
    color: black;
}

.calculator button.btn-operator{
    background-color: rgba(222, 61, 61, 0.398);
    color: rgb(0, 0, 0);
}

/* Dark Theme */
.calculator.dark{
    background-color: black;
}

.calculator.dark #display{
    color: white;
} 

.calculator.dark button#clear{
    background-color: rgb(112, 43, 133);
    color: blanchedalmond;
}

.calculator.dark button.btn-number{
    background-color:cadetblue;
    color: white;
}
.calculator.dark button.btn-operator{
    background-color: rgb(19, 92, 147);
    color: white;
}
.calculator.dark button.btn-equal{
    background-color: aqua;
    color: black;
}